<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guessing Game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container">
        <h1>Jogo de Adivinhação</h1>
        <p>Tentativa #<span th:text="${attempts}"></span></p>
        <form th:action="@{/guess}" method="post">
            <input type="number" name="guess" required>
            <button type="submit">Adivinhar</button>
        </form>
        <p th:text="${message}"></p>
    </div>
</body>
</html>

